<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

<!--
    This template displays the login page.
    It allows admin users to login and allows non-admins to continue as permissionless guests.
-->

<h2>Admin Login</h2>
<form method="post"> 	
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<a href="{% url 'password_reset' %}">Forgot Password?</a>

<p>Or</p>
<a href="{% url 'menu' %}?guest=true">Continue as Guest</a>

</body>
</html>