<!--
    This template displays the upload page.
    It displays a form for users to fill out and use to upload files.
-->

{% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Upload a File</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
</form>

<ul>
    <li><a href="{% url 'menu' %}">Back to Menu</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
